{% extends "base.html" %}
{% block content %}

<form action="/login/" method="post">
    <h1 class="h_fresh">[ Fresh ]</h1>
    <div class='div_login' style='text-align: center;'>
        <p>
        <h6 class="h_info">ID </h6><input class="input_box" type="text" name="loginIdGive" id="loginIdGive" size="20"/>
        <br>
        <h6 class="h_info">PW </h6><input class="input_box" type="password" name="loginPwGive" id="loginPwGive" size="20"/>
        <br>
        </p>
        <p>
            <input class="submit_dark" type="submit" value="로그인"/>
            <br>
            <a href="/signup/">회원가입</a>
        </p>
    </div>

</form>

{% endblock %}