{% extends "base.html"  %}
{% block content %}

<form action="/manager/Inquiry/" method="post">

<div style='text-align: center; width:1000px; margin:0 auto; margin-top:25px;'>

<ul class="nav nav-pills nav-justified">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/manager/Inquiry/">상품 조회</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/manager/product/register/">상품 등록</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/manager/power/confer/">권한 부여</a>
    </li>
    <li class="nav-item">  <!-- 비활성화 -->
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">준비 중...</a>
    </li>
</ul>

</div>

<div style='text-align: center; width:1000px; margin:0 auto; margin-top:25px;'>
	[ 상품 조회 기능 구현 ]
	<table border = '5' class = "table">
		<tr>
			<th>Name</th>
			<th>ID</th>
			<th>Code</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>Registerdate</th>
			<th>Period</th>
		<tr/>
			{% for item in productDataHtml %}
		<tr>
				{% for i in item %}
			<td>
				<option>{{i}}</option>
			</td>
				{% endfor %}
		</tr>
			{% endfor %}
      </table>
</div>

</form>

{% endblock %}
