{% extends "base.html" %}
{% block content %}

<form action="/manager/product/inquiry/" method="post">

    <div style='text-align: center; margin:50px; margin-top:25px;'>
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/manager/product/inquiry/">제품 조회</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/manager/product/register/">제품 등록</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/manager/product/sale/inquiry/?type=all">매출 조회</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/manager/power/confer/">권한 부여</a>
            </li>
            <li class="nav-item">  <!-- 비활성화 -->
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">준비 중...</a>
            </li>
        </ul>
    </div>

    <div style='text-align: center; margin:50px; margin-top:25px;'>
        <table border='5' class="table">
            <thead>
            <tr>
                <th class="t_title">Name</th>
                <th class="t_title">ID</th>
                <th class="t_title">Code</th>
                <th class="t_title">Quantity</th>
                <th class="t_title">Price</th>
                <th class="t_title">Registerdate</th>
                <th class="t_title">Period</th>
                <th class="t_title">Expirydate</th>
            <tr/>
            </thead>
            <tbody>
            {% for item in productDataHtml %}
            <tr>
                {% for i in item %}
                <td class="t_info">
                    <option>{{i}}</option>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</form>

{% endblock %}
