{% extends "base.html" %}
{% block content %}

<!--<form action="/signup/" method="post" id="signupForm">-->
<form action="/signup/" method="post" xmlns="http://www.w3.org/1999/html">

    <div class="div_bg_img">
        <div style="text-align: center; padding-top: 220px;">
            <div>
                <h1 class="h_signup">회원가입</h1>
            </div>

            <p>
                <!--    Name : <input class="input_box" type="text" name="signupNameGive" id="signupNameGive" size="20" onkeyup='saveValue(this);'/>-->
            <div class="div_info_right">
                <h6 class="h_info">Name</h6>
            </div>
            <input class="input_box" type="text" name="signupNameGive" size="20"/>
            <br>
            <div class="div_info_right">
                <h6 class="h_info">ID</h6>
            </div>
            <input class="input_box" type="text" name="signupIdGive" size="20"/>
            <br>
            <!--        <input type="submit" value="ID 중복 확인"/>-->
            <!--        <br>-->
            <div class="div_info_right">
                <h6 class="h_info">PW</h6>
            </div>
            <input class="input_box" type="password" name="signupPwGive" size="20"/>
            <br>
            <div class="div_info_right">
                <h6 class="h_info">PW Confirm</h6>
            </div>
            <input class="input_box" type="password" name="signupPwCfGive" size="20"/>
            <br>
            <div class="div_info_right">
                <h6 class="h_info">Phone Number</h6>
            </div>
            <input class="input_box" type="tel" name="signupPhoneGive" size="20"/>
            <br>
            <div class="div_info_right">
                <h6 class="h_info">Gender </h6>
            </div>
            <div class="div_info_left">
                <input type="radio" name="signupGenderGive" value="Male" checked/><h6 class="h_rd">Male</h6>
                <input type="radio" name="signupGenderGive" value="Female"/><h6 class="h_rd">Female</h6>
            </div>
            <br>
            <div class="div_info_right">
                <h6 class="h_info">Age</h6>
            </div>
            <select id="signupAgeGive" name="signupAgeGive">
                <option value="Teens">Teens</option>
                <option value="Twenties">Twenties</option>
                <option value="Thirties">Thirties</option>
                <option value="Forties">Forties</option>
                <option value="Fifties">Fifties</option>
                <option value="Sixties">Sixties</option>
                <option value="Seventies">Seventies</option>
                <option value="Eighties">Eighties</option>
                <option value="Nineties">Nineties</option>
            </select>
            </p>
            <p>
                <input class="submit_dark" type="submit" value="회원가입"/>
            </p>
        </div>
    </div>

</form>

<!--<script>-->
<!--    let sf = document.getElementById("signupForm");-->
<!--    sf.addEventListener("submit"), function (e){-->
<!--        let msgEle = document.getElementById("signupNameGive");-->
<!--        if(msgEle.value.length == 0){  // 입력 값이 없는 경우-->
<!--            alert("모든 값을 입력해 주세요.")-->
<!--            e.preventDefault();  // 이벤트 중단-->
<!--        }-->
<!--    };-->
<!---->
<!--/* input에 입력된 값 로컬스토리지에 저장하기 */-->
<!--function saveValue(e){-->
<!--    var id = e.id;-->
<!--    var val = e.value;-->
<!--    localStorage.setItem(id, val);-->
<!--    }-->

<!--/* 로컬스토리지에 저장된 값으로 input 채우기 */-->
<!--function getSavedValue(v){-->
<!--    if(!localStorage.getItem(v)){-->
<!--        // 사용자가 입력하지 않았다면 defualt 값을 반환-->
<!--        return v.value;-->
<!--    }-->
<!--    return localStorage.getItem(v);-->
<!--}-->
<!--</script>-->

{% endblock %}